{% extends 'generic/object.html' %}
{% load helpers %}
{% load builtins.tags %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/bash.min.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col col-md-12">
        <div class="card mb-3">
            <h2 class="card-header d-flex justify-content-between">
                <code>/api/plugins/netbox_dhcp_kea_plugin/stork-servers/{{ object.pk }}/config/</code>
                <div>
                    <a href="?export=stork-server-config" class="btn btn-sm btn-primary" role="button">
                        <i class="mdi mdi-download" aria-hidden="true"></i> Download
                    </a>
                    {% copy_content "stork-server-env" %}
                </div>
            </h2>
            <pre class="card-body mb-0"><code class="language-bash" id="stork-server-env">{{ env_content }}</code></pre>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    hljs.highlightAll();
});
</script>
{% endblock %}